<phpunit bootstrap="include/php/default.inc.php">
    <testsuites>
        <testsuite name="webmum">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">include/php/classes</directory>
            <directory suffix=".php">include/php/models</directory>
        </whitelist>
    </filter>
</phpunit>