body{
	font-family:Arial;
	font-size:12px;
	margin:0px;
	background-color:white;
}


/*
 * Main Layout
 */

#header{
	position:relative;
	height:50px;
	width:100%;
	background-color:rgba(15, 15, 15, 1);
	background: linear-gradient(rgba(63, 63, 63, 1), rgba(15, 15, 15, 1));
	color:white;
	line-height:50px;
	box-sizing:border-box;
	padding-left:20px;
	padding-right:20px;
}

	#header div.title{
		float:left;
		height:50px;
		width:auto;
	}
	
		#header div.title a{
			font-size:15px;
			color:white;
			text-decoration:none;
		}
		#header div.title a:hover{
			text-decoration:underline;
		}
	
	#header div.header-menu{
		float:left;
		padding-left:100px;
	}
	
	#header div.header-button{
		float:left;
		height:50px;
		margin-right:30px;
		color:white;
	}
	
	
		#header div.header-button a{
			color:white;
			text-decoration:none;
		}
		#header div.header-button a:hover{
			text-decoration:underline;
		}

#content{
	height:auto;
	min-height:calc(100vh - 150px);
	padding:20px;
	background-color:white;
}

	#content h1{
		color:rgba(62, 59, 59, 1);
	}
	
	#content a{
		color: blue;
		text-decoration: none;
	}
	#content a:hover{
		text-decoration:underline;
	}


/*
 * Buttons
 */

	#content .button{
		background:none;
		background: linear-gradient(white, rgba(237, 237, 237, 1));
		border: 1px solid rgba(200, 200, 200, 1);
		border-radius:3px;
		font-family:arial;
		min-width:200px;
		margin-bottom:10px;
		height:auto;
		transition: box-shadow 0.2s;
	}
	
	#content a.button{
		display:block;
	}
	
	#content .button:hover{
		box-shadow: 1px 1px 4px #DBDBDB;
		text-decoration:none;
		cursor:pointer;
		transition: box-shadow 0.2s;
	}
	
	#content .button-big{
		width:300px;
		font-size:18px;
		line-height:45px;
		padding-left:20px;
		padding-right:20px;
		color:rgba(57, 57, 57, 1);
		text-decoration:none;
	}
	
	#content .button-small{
		width:200px;
		font-size:13px;
		line-height:30px;
		padding-left:10px;
		padding-right:10px;
		color:rgba(57, 57, 57, 1);
		text-decoration:none;
	}
	
	
	
	#content .button a{
		
	}
		
	#content div.button-big a{
		
	}	
	
	
	
/****** Tables ******/
	
	#content table{
		border-collapse: collapse;
		border:none;
	}
	
	#content table tr th{
		padding-bottom:10px;
		padding-left:15px;
		padding-right:15px;
	}
	
	#content table tr td{
		padding:10px;
		border:1px solid rgba(179, 176, 176, 1);
	}
	
	#content table.list{
		margin-top:40px;
	}
	
	#content table.list tr:hover{
		background-color:rgba(234, 234, 234, 1);
	}
	#content table.list tr.head:hover{
		background:none;
	}
	#content table.list tr:hover a{
		color:blue;
	}
	
	#content table.list a {
		color:rgba(148, 148, 255, 1);
	}
	
/****** Tables END ******/


	#content input.textinput, textarea.textinput, select{
		background: none repeat scroll 0% 0% transparent;
		border: 1px solid rgba(200, 200, 200, 1);
		border-radius: 3px;
		margin-bottom: 5px;
		padding: 3px;
		box-shadow: inset 1px 1px 3px rgba(230, 230, 230, 1);
	}
	
	#content input.textinput:focus, textarea.textinput:focus{
		border: 1px solid rgba(137, 137, 137, 1);
	}
	
	#content textarea.textinput{
		min-height:150px;
		min-width:400px;
	}
	
	
/*
 * Footer
 */	

#footer{
	position:relative;
	height:20px;	
	width:100%;
	background-color:white;
	padding:20px;
	box-sizing:border-box;
	color:grey;
}

#footer a{
	text-decoration:none;
	color:grey;
}




/*
 * Notifications
 */

div.notification{
	height:auto;
	width:100%;
	margin-top:15px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-radius:3px;
	padding:10px;
	box-sizing:border-box;
	margin-bottom:40px;
}

div.notification-fail{
	background-color:#FCACAC;
	border-color:red;
}

div.notification-success{
	background-color:rgba(182, 255, 183, 1);
	border-color:green;
}


/*
 * Headlines
 */

#content h1{
	font-size:
}
